doctype html
html(lang="en")
	include ./partials/head.pug
	body.admin_body
		include ./partials/header_admin.pug
		div.container-fluid
			div.admin_home_content
				div.row.admin_home_btns
					div.col-md-4.col-md-offset-4
						button(class="btn btn-default admin_btns",type="submit")
							span(class="glyphicon glyphicon-plus" aria-hidden="true")
							span= "Add"
						button(class="btn btn-default admin_btns",type="submit")
							span(class="glyphicon glyphicon-minus" aria-hidden="true")
							span= "Delete"
				div.row.admin_home_employee_list
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"								
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"	
				div.row.admin_home_employee_list
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"								
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"
				div.row.admin_home_employee_list
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"
					div.col-md-3.employee_list
						div.sign_up_link_container.active_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"
					div.col-md-3.employee_list
						div.sign_up_link_container.inactive_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"							
					div.col-md-3.employee_list
						div.sign_up_link_container.inactive_employee
								div#signup_image
								div#signup_name
									span= "j.palma@stratpoint.com"